h1 {
    text-align: center;
    color: red;
    text-decoration: underline;
}

.divisoes {
    border: black solid 3px;
    width: 500px;
     padding: 8px;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

h2 {
    text-align: center;
    color: red;
}

.erro {
    color:red;
    display: inline-block;
}
        
